@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');
$primaryFont: 'Poppins', sans-serif;
$primaryBgColor: rgb(26, 26, 41);
$secondaryBgcolor: rgb(0, 81, 255);
$primarytextcolor: white;